<div class="overview">
    <p class="overview-title">Your favorite artist:</p>
    <div class="favorite-artist">
        <img [src]="topArtists[0]?.images[0].url" alt="{{ topArtists[0]?.name }}" width="400" height="400"/>
        <p class="top-artist-name">{{ topArtists[0]?.name }}</p>
        <p class="top-artist-followers">{{ topArtists[0]?.followers?.total | formatFollowers }} followers</p>
        <div class="top-artist-genres">
            <div class="top-artist-genre-card" *ngFor="let genre of topArtists[0]?.genres">
                <p>{{ genre }}</p>
            </div>
        </div>
    </div>

    
    <p class="overview-title">Runner-up artists:</p>
    <div class="runner-up-artists">
        <div class="runner-up-artist-card" *ngFor="let artist of topArtists.slice(1); let i = index">
            <img [src]="artist.images[0]?.url" alt="{{ artist.name }}" width="250" height="250">
            <p class="runner-up-artist-name">{{ i + 2 }}. {{ artist.name }}</p>
            <p class="runner-up-artist-followers">{{ artist.followers.total || 0 | formatFollowers }} followers</p>
            <div class="runner-up-artist-genres">
                <div class="runner-up-artist-genre-card" *ngFor="let genre of artist.genres.slice(0,4)">
                    <p>{{ genre }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <p class="overview-title">Your favorite track:</p>
        <img [src]="topTracks[0]?.album?.images[0].url" alt="{{ topTracks[0]?.name }}" width="400px" height="400px">
    <div class="top-track">
        <div class="top-track-info">
            <p class="top-track-name">{{ topTracks[0]?.name }}</p>
            <p class="top-track-artists">
                <span *ngFor="let artist of topTracks[0]?.artists; let last = last">
                    {{ artist.name }}<span *ngIf="!last">, </span>
                </span>
            </p>
        </div>

        <button class="share-top-track" (click)="openModal(topTracks[0].name, getArtistNames(topTracks[0]), topTracks[0].external_urls.spotify, topTracks[0].album.images[0].url)">
            <img src="/share-icon.png" alt="Share Icon" />
        </button>
    </div>

    <p class="overview-title">Runner-up tracks:</p>
    <div class="runner-up-tracks">
        <div class="runner-up-track-card" *ngFor="let track of topTracks.slice(1); let i = index">
            <div class="track-number">{{ i + 2 }}.</div>
            <img [src]="track?.album?.images[0].url" alt="">
            <div class="runner-up-track-text">
                <div class="runner-up-track-name">{{ track?.name }}</div>
                <div class="runner-up-track-artists">
        <span *ngFor="let artist of track?.artists; let last = last">
          {{ artist.name }}<span *ngIf="!last">, </span>
        </span>
                </div>
            </div>
            <button class="share-track" (click)="openModal(track.name, getArtistNames(track), track.external_urls.spotify, track.album.images[0].url)">
                <img src="/share-icon.png" alt="Share Icon" />
            </button>
        </div>
    </div>
    
    <share-popup *ngIf="isModalOpen"
                     [trackName]="selectedTrackName"
                     [trackArtists]="selectedArtistName"
                     [shareLink]="selectedTrackUrl"
                     [trackImg]="selectedTrackImg"
                     (close)="closeModal()">
    </share-popup>
</div>