header {
    background-color: #20242c;
    color: white;
    padding: 20px 24px;
    top: 0;
    z-index: 1000;
    position: sticky;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #20242c;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #20242c;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    color: #eae9e9;
}

button {
    border: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #20242c;
}

button:hover {
    cursor: pointer;
    color: #eae9e9;
}